<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" type="text/css" href="static/mediastyle.css">
</head>
<body>
  <header>
    <div class="main">
    <p>CRIMOPHILIA</p>

      <ul>
        <li class ="active"><a href="{{url_for('dashboard')}}">Home</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Service</a></li>
        <li><a href="">About</a></li>
      </ul>
      
       <div class="section-body">
            <div class="vertical-nav">
                <ul>
                    <h2>Category</h2>
                    <li><a href="{{url_for('dashboard')}}">Home</a></li>
                    <li><a href="{{url_for('Books')}}">Book</a></li>
                    <li><a href="{{url_for('Movies')}}">Movie</a></li>
                    <li><a href="{{url_for('Documentaries')}}">Document</a></li>
                     <li><a href="{{url_for('review')}}">Add Review</a></li>
                     <li><a href="{{url_for('DispRev')}}">Reviews</a></li>
                </ul>
            </div>

            <div class="gallery-main" style="margin-left:18%;padding:1px 16px;height:1000px;">
                <div class="Adventure" id="Adventure">
                    <h1 style="color:white;">BOOKS</h1>

                     <div class="gallery">
                        <div class="image-holder">
                            <a href="#">
                                <img src="static/book1.jfif" alt="img-1">
                            </a>
                            <div class="desc">
                        
                              11.Dirt Town<br>
                              by Hayley Scrivenor<br>
                              Detective Sergeant Sarah Michaels begins her
                              investigation of the
disappearance of twelve-year-old Esther Bianchi from her home in the
small rural Australian town of Durton. For Esther&#39;s mother Constance this
is the worst thing that could possibly happen. But as the investigation
continues, things get worse still. Esther&#39;s best friend Ronnie is doing her
own investigation. Who is the strange man Esther was seen with at the
creek? And why are witnesses refusing to speak to the police?<br>
                            <a href="https://blackwells.co.uk/bookshop/product/9781529080261"> Link to buy </a>
                             
                                <br>
                                
                            </div>
                        </div>

                        <div class="image-holder">
                            <a href="#">
                                <img src="static/book2.jfif" alt="img-1">
                            </a>
                            <div class="desc">
                                12.The Sleeping and the Dead <br>by Ann Cleeves<br>This page-turning psychological thriller is from the pen of Ann Cleeves,
author of three outstanding TV series – Shetland, Vera and The Long Call. The
body of a teenager has been found, and Detective Peter Porteous is called to
Cranwell Lake. After studying the missing persons files, he concludes that
the dead man is Michael Grey, a mysterious young man reported missing by
his foster parents back in the early 70s. A news report of the crime leaves
 prison officer Hannah Morton reeling. Michael had been her boyfriend,
and they were together the night he disappeared . . .<br> <a href="https://uk.bookshop.org/books/the-sleeping-and-the-dead/9781035003402"> Link to buy </a><br>
                               
                                
                            </div>
                        </div>

                        <div class="image-holder">
                            <a href="#">
                                <img src="static/book3.webp" alt="img-1">
                            </a>
                            <div class="desc">13.The Darkest Sin<br>by D. V. Bishop<br>
                              It&#39;s spring in Florence in 1537, and Cesare Aldo is investigating a report that
a convent in the northern quarter has been breached. Soon Aldo finds
himself immersed in a bitterly divided community. And when a man&#39;s body
is found in the convent, it seems as if one of the nuns must be the murderer.
Meanwhile, Constable Carlo Strocchi finds human body parts in the Arno,
which turn out to be the remains of a much feared officer who went missing
in the winter. Aldo and Strocchi search for the truth, in an investigation
that is increasingly full of peril.<a href="https://uk.bookshop.org/books/the-rising-tide-9781509889617/9781509889617"> Link to buy </a>


                                <br>
                              
                            </div>
                        </div>

                        <div class="image-holder">
                            <a href="#">
                                <img src="static/book4.jfif" alt="img-1">
                            </a>
                            <div class="desc">
                               14. The Hiding Place<br>by Jenny Quintana<br>This tense mystery from Jenny Quintana is a must-read for crime fiction
fans. Marina was adopted as a baby after she was found wrapped in a blue
shawl in a shared house in London. The press nicknamed her Baby Blue,
but the circumstances around her birth are still unknown.  Marina longs to
uncover the truth about her birth, so when a flat in the house where she was
found is put up for rent, she seizes her chance.  But what if it&#39;s not just the
house hiding secrets? What if someone knows what happened that day, 
and wants to make sure the truth never comes to light?<br> <a href="https://www.bookdepository.com/The%20Hiding%20Place--Jenny%20Quintana/9781529040425"> Link to buy </a>
                                <br>
                                
                            </div>
                        </div>

                        <div class="image-holder">
                            <a href="#">
                                <img src="static/book5.jpg" alt="img-1">
                            </a>
                            <div class="desc">
                                15.Cover Her Face<br>by P. D. James<br>Cover Her Face is the first crime novel in P. D. James’s much-loved crime
fiction Adam Dalgliesh series. A parlour maid is found dead at Martingale
manor house and Detective Chief-Inspector Adam Dalgliesh is called in to
investigate, but he qickly becomes embroiled in the passions that run
strong in this seemingly quiet English village.<br><a href="https://www.whsmith.co.uk/search/?q=%209780571350773&amp;cgid=&amp;category=All"> Link to buy </a>
                                <br>
                               
                            </div>
                        </div>

                       </div>

                    </body>
</header>

</html>
      
