<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" type="text/css" href="static/mediastyle.css">
</head>
<body>
  <header>
    <div class="main">
    <p>CRIMOPHILIA</p>

      <ul>
        <li class ="active"><a href="{{url_for('dashboard')}}">Home</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Service</a></li>
        <li><a href="">About</a></li>
      </ul>
      
       <div class="section-body">
            <div class="vertical-nav">
                <ul>
                    <h2>Category</h2>
                    <li><a href="{{url_for('dashboard')}}">Home</a></li>
                    <li><a href="{{url_for('Books')}}">Books</a></li>
                    <li><a href="{{url_for('Movies')}}">Movies</a></li>
                    <li><a href="{{url_for('Documentaries')}}">Documentaries</a></li>
                     <li><a href="{{url_for('review')}}">Add Review</a></li>
                     <li><a href="{{url_for('DispRev')}}">Reviews</a></li>
                </ul>
            </div>

            <div class="gallery-main" style="margin-left:18%;padding:1px 16px;height:1000px;">
                <div class="Adventure" id="Adventure">
                    <h1 style="color:white;">DOCUMENTARIES</h1>

                     <div class="gallery">
                        <div class="image-holder">
                            <a href="#">
                                <img src="static/doc1.webp" alt="img-1">
                            </a>
                            <div class="desc">
                              31.Atlanta  Monster<br>
                              by Sam Pollard<br>
                              “It&#39;s 10pm, do you know where your children are?” It&#39;s a catchphrase made famous
by TV news anchors in the &#39;60s and a question families in Atlanta would hear every
night decades later. Kids were disappearing; their strangled bodies would turn up in
the woods. Between 1979 and 1981, more than 28 Black children and teens were
killed in the Georgia capital. The police were baffled, and the parents were desperate
for answers. This podcast tells their story.
On January 8, 2019, the podcast released a second season<br>
                            <a href="https://podcasts.apple.com/us/podcast/atlanta-monster/id1324249769"> Visit site here </a>
                             
                                <br>
                                
                            </div>
                        </div>

                        <div class="image-holder">
                            <a href="#">
                                <img src="static/doc2.jpeg" alt="img-1">
                            </a>
                            <div class="desc">
                              32.Conversations with a Killer: The Ted Bundy <br>by Joe Berlinger<br>Archival footage and audio recordings of interviews with serial killer and rapist Ted Bundy, made while on death row before his execution in 1989. Over 100 hours of
interviews were used to create this four-part series, in which the “highly intelligent”
Bundy analyzes his own life and motives. The second season will center on the story
of John Wayne Gacy, whose persona Patches the Clown enabled him to assault and
murder at least 33 young men and boys.<br> <a href="https://www.netflix.com/in/title/80226612"> Watch now </a><br>
                               
                                
                            </div>
                        </div>

                        <div class="image-holder">
                            <a href="#">
                                <img src="static/doc3.jfif" alt="img-1">
                            </a>
                            <div class="desc">33.Exit Scam<br>by Felix Arno<br>
                              Whether you know a bit or absolutely nothing about Bitcoin, Exit Scam is an
intriguing look into Gerald Cotten, the CEO and founder of Quadriga, Canada&#39;s
largest crypto exchange. Gerry is the only one with the passwords for Quadriga&#39;s
clients, which are stored on an encrypted laptop only he had access to. But in 2018,
Gerry died due to complications from Crohn&#39;s disease while honeymooning in Jaipur,
India, and those passwords went with him to the grave — along with all his client’s
funds. This podcast asks: Did Gerry really die, or did he disappear with $215 million?<a href="https://podcasts.apple.com/us/podcast/exit-scam/id1565845318"> Visit site here
</a>


                                <br>
                              
                            </div>
                        </div>

                        <div class="image-holder">
                            <a href="#">
                                <img src="static/doc4.jpg" alt="img-1">
                            </a>
                            <div class="desc">
                               34.Tales Of The Grim Sleeper<br>by Nick Broomfield<br>The Grim Sleeper terrorized South Central Los Angeles for 25 years.His murder spree ended after his somewhat accidental arrest in 2010.It is thought they he may have killed over 100 people, which wouldmake him the most prolific serial killer in history.<br> <a href="https://watch.sling.com/browse/my-
tv/details/program/f7549318f550478dba334d34ecd9ea13?packId=58477309b3c54307b5da2a9b9a
071f10"> Watch now </a>
                                <br>
                                
                            </div>
                        </div>

                        <div class="image-holder">
                            <a href="#">
                                <img src="static/doc5.jpg" alt="img-1">
                            </a>
                            <div class="desc">
                                35.The Pig Farm<br>by Paul Etheredge<br>Canadian serial killer, Robert Pickton, was discovered when police
followed through with an illegal firearm warrant and discovered the
remains of multiple women at the farm. Pickton later confessed to
killing 49 women.<br><a href="https://www.amazon.com/dp/B091XT4CY3?linkCode=ogi&amp;tag=womenshealth-auto-
20&amp;ascsubtag=%5Bartid%7C2140.g.37224476%5Bsrc%7C%5Bch%7C%5Blt%7C%5Bpid%7Cfbe673bc-
5f5f-4139-bf25-e65fed2c5c23"> Watch now</a>
                                <br>
                               
                            </div>
                        </div>

                       </div>

</header>
</body>
</html>
