<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Login</title>
</head>
<header> 
<body>
    <center><h1> Login</h1></center> 
    <br>
    <br>
    <center>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.username }}
    <br>
    {{form.psw}}
    <br>
    {{ form.submit }}
    <br>
</form> 


<br><br>

  <a href="{{ url_for('register') }}">Don't have an account register here!</a><br> 
  <br>
  <a href="{{ url_for('home') }}">home</a><br>
</center>
</body>
</header>
</html>